<html>
    WELCOME TO LIGHTNING OUT DEMO !!
    <script src="https://componentdemo-dev-ed.lightning.force.com/lightning/lightning.out.js"></script>
    <script type="text/javascript" src="lib/jquery.js">  </script>
    <script type="text/javascript" src="lib/jqueryCookies.js"> </script>   

    <div id="lightning"/>
    <script>
         //var url = $.cookie("InstURL");
         //url = url.replace("my.salesforce", "lightning.force");

            $Lightning.use("c:customer360App", function() {
             $Lightning.createComponent(
                "c:customer360","",
                "lightning",
                function(cmp) {
                    console.log('component created');
                    console.log(cmp);
                });
            },'https://smarda-dev-ed.my.salesforce.com');
    </script>
</html>