<html>
    WELCOME TO LIGHTNING OUT DEMO !!
    <script src="https://smarda-dev-ed.lightning.force.com/lightning/lightning.out.js"></script>
    <script type="text/javascript" src="lib/jquery.js">  </script>
    <script type="text/javascript" src="lib/jqueryCookies.js"> </script>   

    <div id="lightning"/>
    <script>
         //var url = $.cookie("InstURL");
         //url = url.replace("my.salesforce", "lightning.force");

            $Lightning.use("c:customer360App", function() {
             $Lightning.createComponent(
                "c:customer360","",
                "lightning",
                function(cmp) {
                    console.log('component created');
                    console.log(cmp);
                });
            },'https://marda-developer-edition.na31.force.com',
            '00D37000000Hpdi!AQEAQN4Sf5z8RSF.IyZLRJWN195NcxtNpQhpuNsLY268Jn5npq1FmY5LJSLBGIEUHa7WDxi6zr0qFyH54W_MfpgJZARV9rFt');
    </script>
</html>